
/*! style.css - Nutrition Tracker Stylesheet */

/* APP
----------------------------------*/
body {
    background-color: #eee;
}

.highlight h4 {
    font-weight: bold;
}

.hideColumn {
    visibility: hidden;
    width: 0;
}

.spinnerContainer {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8em;
}

.spinner {
    font-size: 30px;
    height: 2em;
    width: 2em;
    position: relative;
    margin: 10px auto 10px auto;
    -webkit-animation: rotation 0.7s infinite linear;
    animation: rotation 0.7s infinite linear;
    border: 0.5em solid rgba(0,0,0,0.2);
    border-top-color: rgba(0,0,0,0.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#app {
    display: none;
    margin-top: 14px;
}

#search-top,
#recipe-top,
#tracker-top,
#tracker-results p {
    padding: 0 6px 0 6px;
}

/* START
----------------------------------*/
.logo,
#start-screen {
    text-align: center;
}

#start-screen div {
    margin-top: 14px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #aaa;
}

#start-screen h1 {
    color: #aaa;
}

/* SEARCH
----------------------------------*/
.dropdown-menu {
    z-index: 888;
    overflow: visible;
}

.dropdown-menu .typeahead-preload,
.dropdown-menu .typeahead-error {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-menu .typeahead-error {
    color: #d00;
}

.item:first-child,
.recipe-item:first-child {
    margin-top: 15px;
    border-top: none;
}

.item:last-child,
.recipe-item:last-child {
    border-bottom: 2px solid #7a7a7a;
}

.item,
.recipe-item {
    padding: 4px 0 0 5px;
    margin: 0;
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
}

.item:nth-child(even),
.recipe-item:nth-child(even),
.tracked-row:nth-child(even) {
    background-color: #eee;
}

.item:nth-child(odd),
.recipe-item:nth-child(odd),
.tracked-row:nth-child(odd) {
    background-color: #ddd;
}

.item:hover {
    background-color:#b8dec0;
}

#search-top .glyphicon-question-sign {
    font-size: 16px;
}

#search-help-text {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
}

#search-suggest {
    display: block;
    position: relative;
}

/* RECIPE
----------------------------------*/
.r-container {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
            -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.r-text {
    margin-left: 15px;
}

.recipe-item {
    padding-bottom: 5px;
}

.recipe-item .thumb {
    width: 100px;
    height: 100px;
    float: left;
}

.recipe-item .icon {
    width: 16px;
    height: 16px;
}

#recipe-open {
    text-align: center;
}

#recipe-open span:hover {
    cursor: pointer;
    background-color: #5cb85c;
}

#recipe-close,
#foodClose {
    position: absolute;
    font-size: 32px;
    right: 7px;
    top: 0px;
}

#recipe-top,
#recipe-results {
    display: none;
}

#recipe-top,
#nutrition-top,
#editor-top {
    position: relative;
}

/* NUTRITION
----------------------------------*/
.buttons {
    text-align: center;
}

.nutritionLabel {
    background-color: #fff;
}

#nutrition-top h3 {
    text-align: center;
}

#nutrition-button-menu {
    padding: 6px;
}

#nutrition-results {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

#nutrition {
    background-color:#b8dec0;
}

/* TRACKER
----------------------------------*/
.tracked-item {
    border-collapse: collapse;
    width: 100%;
}

.tracked-item th {
    color:#eee;
    font-size: 13px;
    background-color: #aaa;
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
    padding: 6px;
}

.tracked-item th .glyphicon-remove {
    color: #eee;
}

.tracked-item .glyphicon-remove {
    cursor: pointer;
    color: #dd0000;
    font-size: 16px;
}

.tracked-row {
    border-bottom: 1px solid #000;
}

.tracked-row:hover {
    background-color:#b8dec0;
}

.tracked-attr {
    font-size: 12px;
    text-align: center;
    padding: 6px;
}

.tracked-name {
    text-align: left;
}

/* EDITOR
----------------------------------*/
.edit-item {
    position: absolute;
    top: 0;
    padding: 6px;
    width: 100%;
    height: 100%;
    background-color:#b8dec0;
    z-index: 1000;
}

.calories-addon {
    background-color: #fcf8e3;
}

.fat-addon {
    background-color: #d9edf7;
}

.carbs-addon {
    background-color: #f2dede;
}

.protein-addon {
    background-color: #fcefe3;
}

.serving-addon {
    background-color: #e4d8f0;
}

/* BOOTSTRAP
----------------------------------*/
.center-block {
    float: none !important;
}

.nav-pills > li > a {
    border-radius: 0;
}

.tab-pane {
    background-color: #fff;
    border-top: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /*padding: 6px;*/
    padding: 6px 0 0 0;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.vtop {
    vertical-align: top;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.alert {
    margin: 6px;
}

.glyphicon-remove-circle:hover {
    cursor: pointer;
    color: #d00;
}

.glyphicon-calendar {
    color: #337ab7;
}