
/*! style.css - Nutrition Tracker Stylesheet */

body {
    background-color: #eee;
}

/* START
----------------------------------*/
#start-screen,
.logo {
    text-align: center;
}

#start-screen div {
    margin-top: 14px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #aaa;
}

#start-screen h1 {
    color: #aaa;
}

/* APP
----------------------------------*/
.highlight h4 {
    font-weight: bold;
}

.hideColumn {
    visibility: hidden;
    width: 0;
}

#app {
    display: none;
    margin-top: 14px;
}

#search-top,
#tracker-top {
    padding: 0 6px 0 6px;
}

/* search results
----------------------------------*/
.item:first-child,
.recipe-item:first-child {
    margin-top: 15px;
    border-top: none;
}

.item:last-child,
.recipe-item:last-child {
    border-bottom: 2px solid #7a7a7a;
}

.item,
.recipe-item {
    padding: 4px 0 0 5px;
    margin: 0;
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
}

.item:nth-child(even),
.recipe-item:nth-child(even),
.tracked-row:nth-child(even) {
    background-color: #eee;
}

.item:nth-child(odd),
.recipe-item:nth-child(odd),
.tracked-row:nth-child(odd) {
    background-color: #ddd;
}

.item:hover {
    background-color:#b8dec0;
}

/* recipe results
----------------------------------*/
.r-container {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
            -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.r-text {
    margin-left: 15px;
}

.recipe-item {
    padding-bottom: 5px;
}

.recipe-item .thumb {
    width: 100px;
    height: 100px;
    float: left;
}

.recipe-item .icon {
    width: 16px;
    height: 16px;
}

.nutritionLabel {
    background-color: #fff;
}

.buttons {
    text-align: center;
}

#recipe-open {
    text-align: center;
}

#recipe-open span:hover {
    cursor: pointer;
    background-color: #5cb85c;
}

#recipe-close {
    position: absolute;
    font-size: 32px;
    right: 7px;
    top: 0px;
}

#recipe-close:hover {
    cursor: pointer;
    color: #d00;
}

#recipe-top,
#recipe-results {
    display: none;
}

#recipe-top,
#nutrition-top {
    position: relative;
}

/* nutrition results
----------------------------------*/
#nutrition-top h3 {
    text-align: center;
}

#nutrition-button-menu {
    padding: 6px;
}

#nutrition-results {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

#nutrition {
    background-color:#b8dec0;
}

/* tracker table
----------------------------------*/
.tracked-item {
    border-collapse: collapse;
    width: 100%;
}

.tracked-item th {
    color:#eee;
    font-size: 13px;
    background-color: #aaa;
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
    padding: 6px;
}

.tracked-item th .glyphicon-remove {
    color: #eee;
}

.tracked-item .glyphicon-remove {
    color: #dd0000;
    font-size: 16px;
}

.tracked-row {
    border-bottom: 1px solid #000;
}

.tracked-row:hover {
    background-color:#b8dec0;
}

.tracked-attr {
    font-size: 12px;
    text-align: center;
    padding: 6px;
}

.tracked-name {
    text-align: left;
}

/* tracker editor
----------------------------------*/
.edit-item {
    position: absolute;
    top: 0;
    padding: 6px;
    width: 100%;
    height: 100%;
    background-color:#b8dec0;
    z-index: 1000;
}

.edit-item button {
    /*text-align: center;*/
}

/* BOOTSTRAP
----------------------------------*/
.center-block {
    float: none !important;
}

.nav-pills > li > a {
    border-radius: 0;
}

.tab-pane {
    background-color: #fff;
    border-top: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /*padding: 6px;*/
    padding: 6px 0 0 0;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.vtop {
    vertical-align: top;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.row.equalheights {
  overflow: hidden;
}
.row.equalheights > [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}